body{
    background: rgb(178, 240, 178);
}
.head {
    display: flex;
    margin: 20px;
}
img {
    width: 60%;
    height: 80%;
    box-shadow: 6px 7px 8px;
    border: rgb(69, 150, 69) solid 3px;
}
.one {
    width: 10%;
}
a{
    margin: 70px;
    padding: 15px;
    font-style: italic;
    color: rgb(78, 28, 28);
    font-size: 18px;
}
a:hover{
    color:  rgb(57, 131, 57);
}
.button 
    {
        background-color: rgb(57, 131, 57) ;
    color: rgb(244, 250, 250);
    text-align: center;
    width: 90px;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    transition-duration: 1s;
    }
    .button:hover{
        background: white;
        color:  rgb(57, 131, 57);
    }
.first{
    width: 30%;
}
.second{
    width: 30%;
}
.third{
    width: 30%;
}
.img{
    display: flex;
    margin: 30px;
    width: 100%;
    text-align: center;
}
h1 , p {
    text-align: center;
    font-style: italic;
    color: rgb(80, 70, 70);
}
h1:hover{
    color: rgb(40, 114, 40);
    cursor: pointer;
}
p:hover{
    color: rgb(10, 173, 10);
    cursor: context-menu;
}
